<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amanullah.flyingfish2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/splash_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splash_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.FlyingFish2">
        <activity android:name=".AboutActivity"/>
        <activity android:name=".LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity" />
        <activity android:name=".NextActivity" />
        <activity android:name=".InsertActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".GameOverActivity" />
        <activity android:name=".SplashActivity"/>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>